/* =========================
   QUIZ PAGE
========================= */

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;

    background-color: #f3f3f3;
}


.quiz-page {
    width: 100%;
    max-width: 430px;

    min-height: 100vh;

    padding: 28px 22px 20px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}


/* =========================
   HEADER
========================= */

.quiz-header {
    display: grid;

    grid-template-columns:
        1fr auto 1fr;

    align-items: center;
}


.quit-button {
    border: none;
    background: none;

    display: flex;
    align-items: center;

    gap: 6px;

    padding: 0;

    color: #111111;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    justify-self: start;
}


.quit-icon {
    font-size: 30px;
    font-weight: 300;

    line-height: 1;
}


/* =========================
   GAME LOGO
========================= */

.quiz-logo {
    display: flex;
    flex-direction: column;

    align-items: center;

    line-height: 0.85;

    color: #111111;

    font-family: "Bagel Fat One", system-ui;
    font-size: 18px;
    font-weight: 400;
}


.quiz-logo strong {
    color: var(--red);

    font-family: "Bagel Fat One", system-ui;
    font-size: 25px;
    font-weight: 400;
}


/* =========================
   QUESTION NUMBER
========================= */

.question-number {
    justify-self: end;

    color: #111111;

    font-size: 16px;
    font-weight: 800;
}


/* =========================
   PROGRESS + TIMER
========================= */

.quiz-status {
    margin-top: 42px;

    display: flex;
    align-items: center;

    gap: 16px;
}


.progress-wrapper {
    flex: 1;

    height: 10px;

    background-color: #e8e8e8;

    border-radius: 20px;

    overflow: hidden;
}


.progress-bar {
    width: 10%;
    height: 100%;

    background-color: var(--red);

    border-radius: 20px;

    transition: width 0.3s ease;
}


/* Timer */

.timer {
    min-width: 63px;

    display: flex;
    align-items: center;

    justify-content: flex-end;

    gap: 6px;

    color: var(--red);

    font-size: 20px;
    font-weight: 800;
}


.timer-icon {
    font-size: 25px;
}


.score-display {
    color: #111111;

    font-size: 16px;
    font-weight: 800;
}


/* =========================
   QUESTION
========================= */

.question-area {
    margin-top: 38px;
}


.question-area h1 {
    min-height: 75px;

    color: #111111;

    font-size: 23px;
    font-weight: 800;

    line-height: 1.25;
}


/* =========================
   ANSWERS
========================= */

.answers-grid {
    margin-top: 28px;

    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 12px;
}


.answer-card {
    min-height: 145px;

    padding: 16px;

    background-color: #ffffff;

    border: 1.5px solid #d6d6d6;

    border-radius: 16px;

    box-shadow:
        0 6px 16px rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    text-align: left;

    cursor: pointer;

    transition:
        transform 0.2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}


/* Hover */

.answer-card:hover {
    transform: translateY(-3px);

    border-color: var(--red);

    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.09),
        0 0 0 1px rgba(168, 0, 0, 0.08);
}


/* A B C D */

.answer-letter {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eeeeee;

    border-radius: 50%;

    color: #111111;

    font-size: 17px;
    font-weight: 800;

    transition: 0.2s ease;
}


/* Answer text */

.answer-text {
    margin-top: 20px;

    color: #111111;

    font-size: 14px;
    font-weight: 600;

    line-height: 1.35;
}


/* Selected answer */

.answer-card.selected {
    background-color: #ffffff;

    border: 2px solid var(--red);

    box-shadow:
        0 0 0 2px rgba(168, 0, 0, 0.08),
        0 7px 18px rgba(0, 0, 0, 0.08);

    transform: scale(0.98);
}


.answer-card.selected .answer-letter {
    background-color: var(--red);

    color: #ffffff;
}


.answer-card.selected .answer-text {
    color: #111111;
}


/* Prevent clicking twice */

.answer-card.disabled {
    pointer-events: none;
}


/* =========================
   MASCOT
========================= */

.quiz-mascot-area {
    margin-top: auto;
    padding-top: 25px;

    display: flex;
    flex-direction: column;

    align-items: center;
}


.quiz-mascot {
    width: 230px;
    height: auto;

    object-fit: contain;
}


.quiz-mascot-area p {
    margin-top: 10px;

    color: #888888;

    font-size: 9px;

    letter-spacing: 4px;
}


/* =========================
   SMALL SCREEN
========================= */

@media (max-width: 370px) {

    .quiz-page {
        padding-left: 16px;
        padding-right: 16px;
    }


    .question-area h1 {
        font-size: 20px;
    }


    .answer-card {
        min-height: 130px;

        padding: 13px;
    }


    .answer-text {
        font-size: 12px;
    }


    .quiz-mascot {
        width: 100px;
    }


    .score-display {
        font-size: 16px;
    }

}